/* ################################################################################################################################## */
/* ######################################################## - Page commune - ######################################################## */
/* ################################################################################################################################## */

body 
{
    display: flex;                        /* On active flexbox */
    flex-direction: column;               /* On place les éléments en colonne */
    padding-top: 40px;                    /* On ajoute un espace de 40px en haut */
    background-color: #506E99;          /* On définit la couleur de fond */
}

img.img1p0 {
    height: 150px;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideI1 0.9s ease-out forwards;
}

img.img2p0
{
    height:150px;                                             /* On fixe la hauteur de l'image à 150px */
    opacity: 0;
    transform: translateY(-20px);
    animation: slideI1 0.9s ease-out forwards;
}

.flash 
{
    transition: transform 0.8s, border-radius 0.8s;           /* On ajoute une animation sur transform et border-radius */
} 

.flash:hover 
{
    transform: scale(0.95);                                   /* On réduit légèrement l’élément lors du survol */
    border-radius: 32px;                                      /* On arrondis les coins lors du survol */
}

.imgWrapper 
{
    display: inline-block;
    overflow: hidden;
    transition: transform 0.8s ease, border-radius 0.8s ease;
}

.imgWrapper:hover 
{
    transform: scale(0.95);
    border-radius: 32px;
}

@keyframes slideI1 
{
    to 
    {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ############################################################################################################################### */
/* ######################################################## - Les liens - ######################################################## */
/* ############################################################################################################################### */

.menuPageAcceuil 
{
    display: flex;                         /* On active flexbox */
    justify-content: space-around;         /* On répartit les éléments avec de l'espace autour */
    align-items: center;                   /* On aligne verticalement au centre */
    width: 100%;                           /* On prend toute la largeur */
    margin-bottom: 20px;                   /* On ajoute un espace en bas du menu */
}

.menuPageAcceuil ul.lienMenu li a p 
{
    white-space: nowrap;    /* On empêche le retour à la ligne */
}

.menuPageAcceuil ul.lienMenu li 
{
    margin: 5px;                          /* On met un petit espace entre les boutons */
}


.menuPageAcceuil ul.zoneImage 
{
    display: flex;                           /* On active flexbox */
    padding: 20px;                           /* On met un espace intérieur de 20px */
    border-radius: 40px;                     /* On arrondis les coins */
    background-color: #fafafa;             /* On définit la couleur de fond */
    align-items: center;                     /* On aligne verticalement au centre */
    justify-content: center;                 /* On centre horizontalement */
    list-style: none;                        /* On supprime les puces */
}


.menuPageAcceuil ul.lienMenu 
{ 
    display: flex;
    flex-wrap: wrap;          /* Permet de passer à la ligne */
    padding: 20px 40px;
    border-radius: 40px;
    background-color: #fafafa;
    justify-content: center;   /* Centre horizontalement les liens */
    list-style: none;
    max-width: 800px;          /* Ajuste selon ton design */
}

.menuPageAcceuil ul.lienMenu li 
{
    flex: 0 0 26%;            /* Chaque lien prend environ 1/3 de la largeur */
    text-align: center;       /* Centre le contenu à l’intérieur du lien */
}

.menuPageAcceuil ul.lienMenu li a 
{
    display: inline-flex;      /* On garde flex pour aligner l'image et le texte */
    align-items: center; 
    justify-content: center;   /* Centre le texte et l'image horizontalement */
    gap: 8px;           
    height: 29px;
    text-decoration: none;
}

.menuPageAcceuil ul:not(.zoneImage) 
{ 
    display: flex;                           /* On active flexbox */
    gap: 20px;                               /* On met un espace 20 px entre les enfants */
    padding: 20px 40px;                      /* On met un espace intérieur de 20 px en haut et en bas et un espace intérieur de 40 px à gauche et à droite */
    border-radius: 40px;                     /* On arrondis les coins */
    align-items: center;                     /* On aligne verticalement au centre */
    justify-content: center;                 /* On centre horizontalement */
    list-style: none;                        /* On supprime les puces */
}


.menuPageAcceuil li a
{
    display: inline-block;                                                  /* On combine inline et block */
    text-decoration: none;                                                  /* On supprime le soulignement */
    padding: 10px 20px;                                                     /* On met un espace intérieur de 10 px en haut et en bas et un espace intérieur de 20 px à gauche et à droite */
    border-radius: 20px;                                                    /* On arrondis les coins */
    background-color: #0b638c;                                            /* On définit la couleur de fond */
    color: white;                                                         /* On définit la couleur du texte */
    transition: background-color 0.5s, color 0.5s, transform 0.8s;         
}

.menuPageAcceuil li a:hover 
{
    background-color: black;                                              /* On définit la couleur de fond */
    transform: scale(1.1);                                                  /* On agrandit légèrement le lien lors du survol */
    box-shadow: 0 0 15px rgba(0,0,0,0.3);                                 /* On ajoute une ombre autour du lien lors du survol */
}

ul.puceJ li 
{
    list-style: none;                                                       /* On supprime les puces */
    padding-left: 2rem;                                                     /* On décale le texte vers la droite de 2 rem pour faire de la place pour la puce personnalisée */
    background-image: url('../img/puce/puce/puce1_sf.jpg');                 /* On définit une image comme puce personnalisée */
    background-repeat: no-repeat;                                           /* On empêche l'image de se répéter */
    background-size: 1.2rem 1.2rem;                                         /* On définit la taille de l'image de la puce */
    margin-bottom: 0.5rem;                                                  /* On ajoute un petit espace entre chaque élément de la liste */
}

/* ########################################################################################################################################################## */
/* ####################################################################### - Index - ######################################################################## */
/* ########################################################################################################################################################## */

.zoneTexte0 
{ 
    background-color: #fafafa;                       /* On définit la couleur de fond */
    display: flex;                                     /* On active flexbox */
    flex-direction: column;                            /* On organise les éléments verticalement */ 
    align-items: center;                               /* On aligne verticalement au centre */
    justify-content: center;                           /* On centre horizontalement */
    padding: 15px;                                     /* On ajoute un espace interne de 15 px tout autour */
    margin: 15px 140px;                                /* On ajoute un espace externe de 15 px en haut et en bas et un espace de 140 px à gauche et àdroite */
    border-radius: 40px;                               /* On arrondis les coins */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);          /* On met une ombre légère sous la boîte pour l’effet flottant */
}

.imageIndex 
{
    max-width: 80%;                                    /* L’image ne dépasse pas 80% de la largeur de son conteneur */
    border-radius: 20px;                               /* On arrondis les coins */
    margin: 20px;                                      /* On ajoute un espace externe de 20 px tout autour */
    display: block;                                    /* L’image se comporte comme un bloc */
} 

.policePacifico
{
    font-family: 'Pacifico', cursive;                  /* On définit la police à Pacifico */
    font-size: 2.5rem;                                 /* On définit la taille du texte */
}

.titreAccueil 
{
    
    text-align: center;                                /* On centre le texte horizontalement */
    margin-bottom: 20px;                               /* Espace sous le titre */       
    opacity: 0;
    transform: translateY(-20px);
    animation: slideI1 0.9s ease-out forwards;
}

.blocTexte 
{ 
    display: flex;                                     /* On active flexbox */
    flex-direction: column;                            /* On organise les éléments verticalement */ 
    align-items: flex-start;                           /* On aligne les enfants sur le bord gauche */
    width: 100%;                                       /* On occupe toute la largeur disponible */
    align-self: flex-start;                            /* On s’assure que le bloc lui-même commence à gauche dans son parent flex */
    margin-left: 150px;                                /* On réalise un décalage de 150 px depuis le bord gauche du parent */
}

.introBateaux 
{
    text-align: center;                                /* On centre le texte horizontalement */
} 

.bateauxCards 
{
    display: flex;                                     /* On active flexbox */
    gap: 20px;                                         /* On met un espace 20 px entre les enfants */
    margin: 30px;                                      /* On met une marge verticale autour du conteneur */
}

.bateauCard 
{

    padding: 15px;                                    /* On ajoute un espace interne autour du contenu de la carte */
    border-radius: 20px;                              /* On arrondis les coins */
    width: 200px;                                     /* On définit une largeur fixe */
    text-align: center;                               /* On centre le texte horizontalement */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);         /* On ajoute une ombre légère */
    transition: transform 0.3s;                       /* On ajoute une animation */
    display: flex;                                    /* On active flexbox */
    flex-direction: column;                           /* On organise les éléments en colonne */
    justify-content: space-between;                   /* On répartit les éléments pour occuper tout l’espace vertical */
    height: 300px;                                    /* On définit une hauteur fixe */       
}

.bateauCard:hover 
{
    transform: translateY(-5px);
}

.bateauCard img 
{
    width: 100%;
    height: 150px;         
    object-fit: cover;   
    border-radius: 15px;
    margin-bottom: 10px;
}

.btn-pulse:hover 
{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.lienMenu li a 
{
  display: flex;
  align-items: center; 
  gap: 8px;           
  height: 29px;
  text-decoration: none;
}

.lienMenu li a img 
{
  margin: 0;
}

.fromLeft 
{
    opacity: 0;
    transform: translateX(-80px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.fromRight 
{
    opacity: 0;
    transform: translateX(80px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.show 
{
    opacity: 1;
    transform: translateX(0);
}


/* ########################################################################################################################################################## */
/* ######################################################## - Page n°1 - Les cartes d'embarquement - ######################################################## */
/* ########################################################################################################################################################## */

.zoneTexte1
{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px 90px;
    border-radius: 15px;
}

.fondBleu
{
    position: relative;
    width: 850px;
    height: 435px;
    background-color: #0b638c;
    border: 4.2px solid black;
    border-radius: 22px;
    padding: 6px;
    margin:20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);   
}

.zoneGauche
{
    position: absolute;
    top: 10px;
    left: 10px;
}

.zoneDroite
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fondBlanc
{
    width: 390px;
    height: 150px;
    background-color: white;
    border: 3.5px solid black;
    border-radius: 18px;
}

.fondBlanc2
{
    width: 396px;
    height: 345px;
    background-color: white;
    border: 3.5px solid black;
    border-radius: 18px;
}

.img1p1
{
    display: block;
    margin: 0 auto;
    height: 140px;
}

.zoneDroite p.carteEmbTexte
{
    position: relative;
    top: 9px;
    color: white;
    font-size: 1.88em;
    font-weight: bold;
    text-align: center;
}

.carteEmbTexte2
{
    margin-left: 12px;
    color: white;
    font-size: 1.36em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.carteEmbTexte2 .ligne:first-child
{
    margin-top: 18px;
}

.ligne
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ligne p
{
    margin: 0;
}

.zoneBlanche
{
    background-color: white;
    height: 30px;
    width: 190px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texteNoir
{
    color: black;
    margin: 0;
}

.zoneHaut
{
    height:100px;
    margin:8px;
    border-radius: 18px;
    display: flex;
    flex-direction:row;
}

.zoneHautGauche
{
    margin:8px;
    height:80px;
    width:120px;
    border-radius: 18px;
}

.zoneHautDroite
{
    margin:8px;
    height:80px;
    width:230px;
    border-radius: 18px;
}


.zoneBas
{
    height:212px;
    margin:8px;
    border-radius: 18px;
    display: flex;
    flex-direction:row;
}

.zoneBasGauche
{
    margin:8px;
    height:190px;
    width:120px;
    border-radius: 18px;
}

.zoneBasDroite
{
    margin:8px;
    height:190px;
    width:230px;
    border-radius: 18px;
}

.texteNoir2
{
    color: black;
    margin: 5px;;
    font-weight:bold;
    margin-top:10px;
    font-size:1.1em;
}

.grasPageEmbarquement
{
    font-weight: normal;
}

/* ########################################################################################################################################################## */
/* ############################################################### - Page n°2 - Les factures - ############################################################## */
/* ########################################################################################################################################################## */

.zoneTexte2 
{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px 280px;
    border-radius: 15px;
}

.carreBleu 
{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #0b638c;
    border-radius: 8px;
}

.imageContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

p.text1p2 
{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    font-family: Calibri, Arial, sans-serif;
}

p.text2p2 
{
    font-weight: bold;
    font-family: Calibri, Arial, sans-serif;
}

article.articlePage2 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.margeTexte 
{
    align-self: flex-start;
    padding-left: 68px;
}

p.espace 
{
    height: 60px;
}

.tableUnifie2
{
    width: 70%;
    border-collapse: collapse;
    font-size: 1.1rem;
    margin-bottom: 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 14px;
    overflow: hidden;
}

.tableUnifie2 th 
{
    background: #ffc100;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 1.2rem;
    border: none; 
}

.tableUnifie2 td 
{
    padding: 10px 12px;
    text-align: center;
    border: none;
}

.tableUnifie2 tr:nth-child(even) 
{
    background-color: #f7f7f7;
}

.texteFacture
{
    margin-top:30px;
}
/* ########################################################################################################################################################## */
/* ########################################################### - Page n°3 - Le tableau de bord - ############################################################ */
/* ########################################################################################################################################################## */

.zoneTexte3
{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px 78px;
    border-radius: 15px;
}

.zoneLiaison
{
    border:2px red dashed;
    height:auto;
    width:auto;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin:20px;
    display:flex;
    flex-direction: column;
}

.dateTableau 
{
    margin:20px;
    display: flex;
    border-radius: 12px;
    flex-direction: row;
    align-items: center;  
    justify-content: center;  
}

.dateTableau select
{
    margin-top:4px;
    margin-left:9px;
}






.remplissageHorizontale
{
    display: flex;
    flex-direction: row;
}

.abc
{
    margin-left: 100px;
}

.texteRemplissageHorizontale
{
    align-items: center;
    justify-content: center;
    margin:10px 10px 10px 0px;
}

.carreNoirDate
{
    border:2px #fafafa solid;
    border-radius: 10px;
    margin:8px;
}








.lesLiaison
{
    display:flex;
    flex-direction: row;
    border-radius: 12px;
    margin:0px 20px 20px;
}

.uneLiaison
{
    background-color: #0b638c;;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
    height:auto;
    width:auto;
    padding:12px;
    border-radius: 12px;
    margin:30px;
}

.uneLiaison h2
{
    margin: 15px 80px 15px 80px;
    color:white;
}

.uneLiaison p
{
    color:white;
    margin: 0;
}



/* ########################################################################################################################################################## */
/* ############################################################ - Page n°4 - Les statistiques - ############################################################# */
/* ########################################################################################################################################################## */

.zoneTexte4
{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px 74px;
    border-radius: 15px;
}

/* ########################################################################################################################################################## */
/* ############################################################# - Page n°5 - Les paramètres - ############################################################## */
/* ########################################################################################################################################################## */

.zoneTexte5 
{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 45px;
    margin: 15px 140px;
    border-radius: 40px;
    text-align: center;
}

/* ########################################################################################################################################################## */
/* ########################################################### - Page n°6 - Horraires et tarifs - ########################################################### */
/* ########################################################################################################################################################## */

.zoneTexte6
{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px 280px;
    border-radius: 15px;
}

/* ########################################################################################################################################################## */
/* ################################################################ - Page n°7 - Connexion - ################################################################ */
/* ########################################################################################################################################################## */

.zoneTexte7 
{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px 300px;
    border-radius: 15px;
}

.texte1Connexion {
    font-size: 1.1em;
}

.regroupementConnexion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; 
    gap: 20px; 
}

.connexionFondBlanc1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    margin: 24px;
    text-align: center;
}


.connexionFondBlanc2 
{
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #fafafa;
    border-radius: 8px;
    margin: 24px;
    text-align: center;
}

.connexionBlanc {
    margin-top: 10px;
    color: white;
}

.connexionFondBleu {
    width: 100%;
    height: 100%;
    background-color: #0b638c;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

img.imageConnexion1 {
    margin-top: 22px;
    padding: 12px;
    height: auto; 
    width: auto;
    max-width: 40%;
    max-height: 40%;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideI1 0.9s ease-out forwards;
}


.imageConnexion2 {
    padding: 20px;
    border-radius: 28px;
}

.connexionVerticale {
    display: flex;
    flex-direction: column;
    padding: 29px 30px 8px 30px;
    gap: 10px;
    margin: 20px;
}

#erreurConnexion {
    padding: 10px;
}

.animationConnexion {
    opacity: 0;
    transform: translateY(-24px);
    animation: slideAnimationCo 0.9s ease-out forwards;
}

@keyframes slideAnimationCo {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ########################################################################################################################################################## */
/* ################################################# - Tableau des caractéristiques et des factures - ####################################################### */
/* ########################################################################################################################################################## */

.tableUnifie
{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 1.1rem;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 14px;
    overflow: hidden;
}

.tableUnifie th
{
    background: #ffc100;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 1.2rem;
    border: none;
}

.tableUnifie td
{
    padding: 10px 12px;
    text-align: center;
    border: none;
}

.tableUnifie tr:nth-child(even)
{
    background-color: #f7f7f7;
}

.tableUnifie tbody tr
{
    transition: background-color 1s ease;
}

.tableUnifie tbody tr:hover
{
    background-color: #fff3b0;
}

.contBateau
{
    display: flex;
    align-items: stretch;
    padding: 20px;
}

.contBateauP1
{
    flex: 0 0 77%;
    margin-right: 20px;
}

.contBateauP2
{
    flex: 0 0 20%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#0b638c;
    border-radius: 12px;
    padding: 20px;
}

.contBateauImg1
{
    border-radius: 12px;
    max-width: 90%;
    height: auto;
    margin: 15px 0px;
    transition: transform 1s ease;
}

.contBateauImg1:hover
{
    transform: scale(1.1);
}

.tableUnifie3 
{
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto 2.5rem auto;
    font-size: 1.1rem;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 14px;
    overflow: hidden;
}


.tableUnifie3 th 
{
    background: #ffc100;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 1.2rem;
    border: none; 
}

.tableUnifie3 td 
{
    padding: 10px 12px;
    text-align: center;
    border: none;
}

.tableUnifie3 tr:nth-child(even) 
{
    background-color: #f7f7f7;
}

.tableUnifie3 tbody tr 
{
    transition: background-color 1s ease; 
}

.tableUnifie3 tbody tr:hover 
{
    background-color: #fff3b0; 
}


/* ######################################################################################################################################################################## */
/* ###################################################################### - Animation des boutons - ####################################################################### */
/* ######################################################################################################################################################################## */

.btn 
{
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none; 
    display: inline-block;
}

.btn-pulse 
{
    display: inline-block;
    padding: 8px 40px; /* padding plus large pour ressembler à ton premier style */
    background-color: #506E99;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    margin: 4px;
    animation: pulse 1.5s infinite;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.btn-pulse2 
{
    background-color: #506E99;
    color: white;
    padding:8px 40px;
    margin:4px;
    animation: pulse 1.5s infinite;
    border-radius: 8px;
}

@keyframes pulse 
{
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.lesSons 
{
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.sonVerticale 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sonHorizontale 
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mesSons 
{
    display: flex;
    gap: 25px;
}

.bruitDuSon 
{
    background: #f5f5f5;
    border-radius: 20px;
    padding: 8px 20px 22px 22px;
    width: 180px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

#stopSon 
{
    background: #e74c3c;
    border: none;
    padding: 12px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    max-width: calc(180px * 3 + 25px * 2);
}


.btnPlay 
{
    border: none;
    padding: 6px 10px 4px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.img1Son
{
    border-radius: 10px;
    margin-top:10px;
    height:110px;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideImgSon1 0.9s ease-out forwards;
}

.img2Son
{
    border-radius: 10px;
    margin-top:10px;
    height:110px;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideImgSon1 0.9s ease-out forwards;
}

.img3Son
{
    border-radius: 10px;
    margin-top:10px;
    height:110px;
    opacity: 0;
    transform: translateX(20px);
    animation: slideImgSon1 0.9s ease-out forwards;
}

@keyframes slideImgSon1
{
    to 
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideImgSon2
{
    to 
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideImgSon3
{
    to 
    {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ######################################################################################################################################################################## */
/* ###################################################################### - Le footer - ################################################################################### */
/* ######################################################################################################################################################################## */


.footer 
{
    background: #0c2a47;
    color: #ffffff;
    text-align: center;
    padding: 30px 10px;
    font-size: 0.95rem;
}

.footerRow 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footerRow p 
{
    margin: 0;
}


/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */

span
{
    font-weight: normal;
}

#numRes
{
        -webkit-text-security: disc;
        text-align: center;
}

/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */
/* ######################################################################################################################################################################## */
